include ../card/card

mixin bestSlots(containerClass)
	-
		let blocks = ['Pragmatic Play', 'Pragmatic Play', 'Pragmatic Play']
		let cards = [1, 2, 3, 4, 5, 6]

	div(class=containerClass)
		.py-10(class='sm:py-20')
			h2.font-notoSan.mb-6.text-xl.font-black.italic.text-dark.uppercase(class='lg:text-2xl lg:mb-11') Best slots

			each block, index in blocks
				.mb-8(class='last:mb-0')
					.flex.justify-between.items-center.mb-8
						p.font-notoSans.italic.text-lg.font-semibold #{ block }

						a.text-grizzly-dark.no-underline(href='#')
							+moreBlock({ text: 'View more' })

				.relative.mb-6
					.overflow-hidden.pb-14
						.slots-cards.relative(id=`slots-cards-${index}`)
							.swiper-wrapper
								each card in cards
									+card

							.swiper-pagination(class='[&>*]:mr-3 [&>*:last-child]:mr-0')

					+sliderArrows(`slots-cards-${index}`, 'top-48')
