include ./advantage-card/advantage-card

mixin whoWeAre(containerClass)
	-
		let items = [
			{
				icon: 'star-icon',
				title: 'Bookmakers Reviews'
			},
			{
				icon: 'ball',
				title: 'Odds Trackers'
			},
			{
				icon: 'human',
				title: 'Offers & Promotions'
			},
			{
				icon: 'gift',
				title: 'Expert Picks'
			},
			{
				icon: 'predictions',
				title: 'Tips & Predictions'
			},									
		]

	div(class=containerClass)
		.my-10(class='md:my-14')
			h2.font-notoSans.text-base.font-black.italic.text-dark.uppercase.mb-6(class='md:text-2xl') Who we are

			p.font-notoSans.max-w-3xl.text-base.mb-6(class='md:.mb-11')
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut urna ipsum sagittis auctor vitae. Facilisi urna, arcu a tincidunt. Molestie pulvinar mauris, est quis venenatis sed eu. Urna in nullam amet mi eu. Vulputate duis sit augue vel tristique ac. Molestie id gravida dolor pretium fermentum pharetra ut.
				br
				br
				| Facilisi urna, arcu a tincidunt. Molestie pulvinar mauris, est quis venenatis sed eu. Urna in nullam amet mi eu.

			.relative.mb-6
				.overflow-hidden.pb-11
					.advantages-cards.relative.h-64
						.swiper-wrapper
							each item in items
								+advantageCard(item)

						.swiper-pagination(class='[&>*]:mr-3 [&>*:last-child]:mr-0')

				+sliderArrows('advantages-cards', 'top-32')
