mixin topSites(containerClass)
	- let cards = [1, 2, 3, 4, 5];

	div(class=containerClass)
		.py-10(class='sm:py-20')
			.flex.justify-between.items-center
				h2.font-notoSans.text-base.font-black.italic.text-dark.uppercase(class='lg:text-2xl') Top sports betting sites

				a.text-grizzly-dark.no-underline(href='#')
					+moreBlock({ text: 'View All Bookies' })

			.relative
				.overflow-hidden.pb-11
					.sites-cards.relative
						.swiper-wrapper.pt-11
							each card in cards
								if (card === 1)
									+card({ index: card, primaryFlag: 'top-sites/crown' })
								else
									+card({ index: card })

						.swiper-pagination(class='[&>*]:mr-3 [&>*:last-child]:mr-0')

				+sliderArrows('sites-cards', 'top-56')
