mixin advantageCard({ icon, title })
	.swiper-slide.bg-primary-brightest.rounded-lg.h-full.overflow-hidden
		.bg-white.overflow-hidden.rounded-full.w-28.h-28.mx-auto.mt-10.mb-6.flex.items-center.justify-center
			img(src=require(`@/assets/icons/who-we-are/${icon}.svg`))

		p.font-notoSans.text-dark.font-bold.text-base.text-center.italic.uppercase.px-6
			| #{ title }
