mixin authBtn
	a.auth-btn.flex.items-center.no-underline(href='#')
		+button({ icon: 'profile.svg' })

		.relative.ml-3
			span.font-notoSans.text-sm.font-bold.text-white.uppercase
				| Log in / Sign up
