mixin logo
	- let logoAlt = '1xbet Japan'

	a.flex.items-center.min-w-fit.h-fit(href='#')
		div(class='-m-1.5 p-1.5')
			span.sr-only #{ logoAlt }
			img.h-8.w-auto(src=require('@/assets/images/logo.png'), alt=logoAlt)

		p.text-white.uppercase.font-bold.ml-3 #{ logoAlt }
