mixin sliderArrows(topPosition = 'top-32')
	.absolute.-inset-x-16.hidden(class=`${topPosition} 2xl:flex 2xl:justify-between`, data-glide-el='controls')
		.arrow-left.text-white.rotate-180(data-glide-dir='<')
			+moreBlock({ background: 'primary' })

		.arrow-right.text-white(data-glide-dir='>')
			+moreBlock({ background: 'primary' })
