mixin sliderArrows(sliderName, topPosition = 'top-32')
	- let disableClass = 'group-[.nav-disabled]:opacity-50 group-[.nav-disabled]:pointer-events-none';

	.absolute.-inset-x-16.hidden(class=`${topPosition} 2xl:flex 2xl:justify-between`)
		.group.text-white.rotate-180(class=`arrow-left-${sliderName}`)
			+moreBlock({ background: 'primary', modificator: disableClass })

		.group.text-white(class=`arrow-right-${sliderName}`)
			+moreBlock({ background: 'primary', modificator: disableClass })
