mixin button({ text, icon, wrapperClass })
	button.relative.flex.text-white.text-base.italic.font-black(type='button', aria-expanded='false', class=wrapperClass)
		.absolute.bg-primary.w-full.h-full.rounded-lg.transform.-skew-x-12

		if (text)
			span.relative.uppercase.py-5.mx-auto #{ text }
		else if (icon)
			span.absolute(class='-inset-1.5')
			span.sr-only Icon
			img.relative.icon-button(src=require(`@/assets/icons/${icon}`), alt='icon', width=24, height=24)
