// ------------ COLORS -------------

// overlay
$overlay-color: rgba(0 0 0 / 60%);

// primary
$primary-color: #621fbe;
$primary-brightest-color: #f3eff9;

// grey
$grey-color: #bbb9b9;
$grey-background-color: #212127;

// blue
$blue-color: #1d14ff;
$blue-dark-color: #1a1a2e;
$blue-transparent-color: #13142280;
$blue-bg-color: #131422;
$blue-bg-dark-color: #131321;

// white
$white-color: #fff;

// black
$black-color: #000;
$black-transparent-color: #0000004d;

// orange
$orange-color: #f6851b4d;
$orange-transparent-color: #f6851b4d;

// red
$red-color: #ff1414;

// green
$green-color: #25ec39;

// components
$footer-header: #121212;

// ---------- END COLORS -----------

// ------------ SHADOW -------------

$primary-shadow: 0 4px 4px var($black-transparent-color);

// ---------- END SHADOW -----------
