mixin sliderBullets(items = [], isOnlyMobile = true)
	.bullets.flex.justify-center.gap-x-3(data-glide-el='controls[nav]', class=isOnlyMobile && 'md:hidden')
		each item, index in items
			button.glide__bullet.w-3.h-3.rounded-full.duration-200.bg-primary-brightest(
				data-glide-dir=`=${index}`,
				class='hover:bg-primary'
			)
