nav.relative.flex.h-20.items-center.justify-between
	.flex.flex-1.items-center.justify-between
		.flex.items-center(class='lg:flex-1')
			+logo

		.flex(class='lg:hidden')
			+hamburgerBtn

		.hidden(class='lg:flex lg:gap-x-5')
			each item in menuItems
				+menuItem(item)

			+menuItem(langItem)

		.hidden(class='lg:flex lg:flex-1 lg:justify-end')
			a.absolute.inset-y-0.right-0.flex.items-center.pr-2(class='sm:static sm:inset-auto sm:pr-0', href='#')
				+button({ icon: 'profile.svg' })

				.relative.ml-3.hidden(class='lg:flex lg:flex-1 lg:justify-end')
					.text-sm.font-bold.text-white.uppercase
						| Log in / Sign up
