mixin topSites(containerClass)
	- let cards = [1, 2, 3, 4]

	div(class=containerClass)
		.py-10.overflow-hidden(class='sm:py-20')
			.flex.justify-between.items-center.mb-11
				h2.text-base.font-black.italic.text-dark.uppercase(class='lg:text-2xl') Top sports betting sites

				.text-grizzly-dark
					+moreBlock({ text: 'View All Bookies' })

			#sites-cards.mt-8
				.mb-6(data-glide-el='track')
					.flex(class='lg:grid lg:grid-cols-4 lg:gap-x-6') 
						each card in cards
							if (card === 1)
								+card({ index: card, primaryFlag: 'top-sites/crown' })
							else
								+card({ index: card })

				+sliderBullets(cards)
