.hidden
	label.relative.inline-flex.items-center.cursor-pointer
		input.sr-only.peer(type='checkbox', value='')

		.w-11.w-11.h-6.bg-gray-200.rounded-full.peer(
			class='peer-focus:outline-none peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[\'\'] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-primary'
		)

		span.ms-3.ms-3.text-sm.font-medium.text-white
			| Toggle me

	.-rotate-90

	.group.w-3.h-3
		span.inline-block.w-full.h-full.duration-200.rounded-full.bg-primary-brightest(
			class='hover:bg-primary group-[.nav-active]:bg-primary'
		) 

	.gap-x-6.p-2.text-sm.text-dark.font-semibold(class='xl:font-bold sm:overflow-hidden')
