//- Local variables
-
	let containerClass = `mx-auto max-w-7xl px-4 sm:px-6 lg:px-8`
	let menuItems = [
		{ 
	    	name: 'Betting sites' 
		},
	  	{ 
			name: 'Reviews',
			children: [
			{ 
				name: 'Analytics 0'
			}
			]
	  	},
		{ 
			name: 'Bonuses', 
			children: [
				{ 
					name: 'Analytics 1'
				}, 
				{ 
					name: 'Analytics 2'
				} 
			]
		},
		{
			name: 'Payment Methods'
		},
		{
			name: 'Sports'
		},
		{
			name: 'Learn'
		},
		{
			name: 'News'
		},
		{
			name: 'About'
		}
	]

//- External variables
block variables

//- Include mixins
include ~@/ui/mixins/header/header
include ~@/ui/mixins/header/hamburger-btn/hamburger-btn
include ~@/ui/mixins/footer/footer
include ~@/ui/mixins/button/button
include ~@/ui/mixins/logo/logo
include ~@/ui/mixins/star/star
include ~@/ui/mixins/arrow/arrow
include ~@/ui/mixins/more-block/more-block
include ~@/ui/mixins/slider-arrows/slider-arrows

doctype html
html(lang='en')
	head
		//- Meta
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		meta(property='description', content=description)

		link(rel='alternate', href='http://localhost:5050/', hreflang='en')
		link(rel='alternate', href='https://romanb32projects.github.io/landing-webpack/', hreflang='kr')
		link(rel='alternate', href='https:/test.et/', hreflang='et')
		link(rel='alternate', href='https:/test.oi/', hreflang='oi')

		//- Page title
		title= title

		//- Page styles
		block style

		//- Additional head block to add here page specifically assets
		block head

	body.bg-dark
		// Start header
		+header(containerClass, menuItems)
		// End header

		.pt-20.bg-white-standard
			block main

		// Start footer
		+footer(containerClass, menuItems)
		// End footer

		// Add-ons for correct CSS tailwind generation
		include ./additions

		//- Page scripts
		block script
